*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
 /*Основные шрифты*/
--main-font: Roboto, sans-serif;
--sacondary-font: Raleway, sans-serif;
 /*Цвет текста*/
--main-color: #757575;
--white-text: #FFFFFF;
--select-color: #2196F3;
--bleak-text: #000000;
--main-grey: #212121;
/*Цвет фона*/
--main-background: #FFFFFF;
--footer-background: #2F303A;
--section-background: #F5F4FA;
/*Цвет кнопок*/
--activ-btn: #188CE8;
}
h1, h2, h3, h4, h5, p, ul, ol {
    margin-top: 0;
    margin-bottom: 0;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    outline: 2px solid tomato;
}
body {
    color: var(--main-color);
    background-color: var(--main-background);
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 1,71;
    letter-spacing: 0.03em;
}
.header {
    /*position: absolute;
    width: 1600px;
    height: 80px;
    left: 0px;
    top: 0px;*/
    background: var(--main-background);}
              /*Логотип*/
.nav-logo-link, .footer-logo-link {
    font-family: var(--sacondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;}
.n-l-l {
    margin-right: 93px;
    /*margin-left: 15px;*/
}
.nav-logo-link {
    color: var(--bleak-text);}
.footer-logo-link {
    color: var(--white-text);}
.logo {
    color: var(--select-color)}
.nav-item, .contact-item {
    padding-top: 32px;
    padding-bottom: 32px;
    margin-right: 50px;
}
.nav-item:last-child, .contact-item:last-child {
    margin-right: 0;
}


.team {
    background-color: var(--section-background);
}
.list {
    padding-left: 0;
    /*margin: 0;
    padding: 0;*/
}
.link {
    text-decoration: none;}
.item {
    list-style-type: none;}
.nav-link {
font-family: var(--main-font);
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--main-grey);
}
.contact-link {
    /*padding-top: 32px;
    padding-bottom: 32px;*/
    font-weight: 500;
    color: var(--main-color);
}
.contact-link li {
    outline: 2px solid turquoise;   
}
.nav-link:hover,
.nav-link:focus, .contact-link:hover, .contact-link:focus {
    color: var(--select-color);
}
.link.current {
    color: var(--select-color);
}
.header-container, .nav-list, .header-contact {
    display: flex;
}
.nav {
    align-items: center;   
}
.general-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
         /*Герой*/

.hero {
    width: 1600px;
    /*position: absolute;
height: 600px;
left: 0px;
top: 80px;*/
background: var(--footer-background);}
.hero-title {
font-family: var(--main-font);
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--white-text); }
          /*Кнопка*/
.hero-btn {
    width: 200px;
    height: 50px;
    left: 700px;
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    color: var(--white-text);
    background-color: var(--select-color);
}
.hero-btn:hover, .hero-btn:focus {
    background-color: var(--activ-btn);
}
       /*Особенности*/
.peculiarity-title {
font-family: var(--main-font);
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--main-grey)}
.peculiarity-text {
    font-family: var(--main-font);
font-weight: normal400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--main-color);
}
      /*Команда*/
.team-list {
    width: 1600px;
    background-color: var(--section-background);
}
.team-title {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
/*
letter-spacing: 0.03em;*/
color: var(--main-grey);
}
.team-text {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
/* text-align: center;*/
    letter-spacing: 0.03em;
    color: var(--main-color);
}
.performance-title, .team-caption {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-grey);
}
          /*Футер*/
.footer {
    background-color: var(--footer-background);
    position: absolute;
    width: 1600px;
    height: 252px;
    color: var(--white-text);
    background: var(--footer-background)
}
.adress-location, .address-link {
    font-style: normal;
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}
.adress-location {
    color: var(--white-text)}
.address-link {
        color: rgba(255, 255, 255, 0.6);}

 /*Портфолио*/
 .filter-btn {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-grey);
    background: var(--section-background);
 }
 .filter-btn:hover, .filter-btn:focus {
    color: var(--white-text);
    background: #2196F3;}
.project-title {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-grey);}
.project-text {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--main-color)}